<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hibo.bas.sn.dao.SnMapper" >
  <resultMap id="BaseResultMap" type="com.hibo.bas.sn.model.Sn" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="last_value" property="lastValue" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="prefix" property="prefix" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, createdate, modifydate, last_value, type, prefix
  </sql>
  
  <select id="selectByType" resultMap="BaseResultMap" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from hb_sn
    where type = #{type}
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.hibo.bas.sn.model.Sn" >
    update hb_sn
    <set >
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastValue != null" >
        last_value = #{lastValue,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="prefix != null" >
        prefix = #{prefix,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from hb_sn
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from hb_sn
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hibo.ebusi.sn.model.SpecificationValue" >
    insert into hb_sn (id, createdate, modifydate, 
      last_value, type, prefix
      )
    values (#{id,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{lastValue,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{prefix,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hibo.ebusi.sn.model.SpecificationValue" >
    insert into hb_sn
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
      <if test="lastValue != null" >
        last_value,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="prefix != null" >
        prefix,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastValue != null" >
        #{lastValue,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="prefix != null" >
        #{prefix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.hibo.ebusi.sn.model.SpecificationValue" >
    update hb_sn
    set createdate = #{createdate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP},
      last_value = #{lastValue,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      prefix = #{prefix,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update> -->
</mapper>