<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hibo.cms.cate.dao.CategoryBasMapper">
    <resultMap id="BaseResultMap" type="com.hibo.cms.cate.model.CategoryBas" >
    <id column="code" property="code" jdbcType="VARCHAR" />
    <result column="p_code" property="pCode" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="ename" property="ename" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
    <result column="eimg" property="eimg" jdbcType="VARCHAR" />
    <result column="is_top" property="isTop" jdbcType="BIT" />
    <result column="availabe" property="availabe" jdbcType="BIT" />
    <result column="operator" property="operator" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    code, p_code, name, ename, img, eimg, is_top, availabe, operator, create_date, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bas_category
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bas_category
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hibo.cms.cate.model.CategoryBas" >
    insert into bas_category (code, p_code, name, 
      ename, img, eimg, is_top, 
      availabe, operator, create_date, 
      modify_date)
    values (#{code,jdbcType=VARCHAR}, #{pCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{ename,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{eimg,jdbcType=VARCHAR}, #{isTop,jdbcType=BIT}, 
      #{availabe,jdbcType=BIT}, #{operator,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hibo.cms.cate.model.CategoryBas" >
    insert into bas_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="pCode != null" >
        p_code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="ename != null" >
        ename,
      </if>
      <if test="img != null" >
        img,
      </if>
      <if test="eimg != null" >
        eimg,
      </if>
      <if test="isTop != null" >
        is_top,
      </if>
      <if test="availabe != null" >
        availabe,
      </if>
      <if test="operator != null" >
        operator,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="pCode != null" >
        #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="eimg != null" >
        #{eimg,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null" >
        #{isTop,jdbcType=BIT},
      </if>
      <if test="availabe != null" >
        #{availabe,jdbcType=BIT},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hibo.cms.cate.model.CategoryBas" >
    update bas_category
    <set >
      <if test="pCode != null" >
        p_code = #{pCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="ename != null" >
        ename = #{ename,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="eimg != null" >
        eimg = #{eimg,jdbcType=VARCHAR},
      </if>
      <if test="isTop != null" >
        is_top = #{isTop,jdbcType=BIT},
      </if>
      <if test="availabe != null" >
        availabe = #{availabe,jdbcType=BIT},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hibo.cms.cate.model.CategoryBas" >
    update bas_category
    set p_code = #{pCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      ename = #{ename,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      eimg = #{eimg,jdbcType=VARCHAR},
      is_top = #{isTop,jdbcType=BIT},
      availabe = #{availabe,jdbcType=BIT},
      operator = #{operator,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where code = #{code,jdbcType=VARCHAR}
  </update>
  
  
  <select id="findAll" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
  	<include refid="Base_Column_List" />
  	from bas_category where availabe=1 order by code 
  </select>
</mapper>